<div class="bio-card">
  <div class="profile-pic-wrapper pfp-stack">
    <img src="/static/images/pfp_alt_2.png" alt="" class="pfp-base" />
    <img src="/static/images/pfp_alt_1.png" alt="Photo of Sean McAuliffe" class="pfp-hover" />
  </div>

  <h1 class="no-top-margin greeting">Howdy, Space Cowboy</h1>

  <p>My name is Sean. I'm a software developer from Vancouver, Canada. I focus
     on systems and embedded programming. I've previously written code which
     operated in <a href="https://www.orcasat.ca/">space</a>; and am currently
     working in motion automation.
  </p>

  <p>
    I enjoy math, programming, and building things. I'm working on a couple of 
    projects at the moment You can find my writings and project notes on this
    site.
  </p>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const greetings = [
    'Howdy, Space Cowboy',
    {% comment %}'Howdy, Stranger',{% endcomment %}
    {% comment %}'Well met, Traveller',{% endcomment %}
    {% comment %}'Salvé!',{% endcomment %}
    {% comment %}"Top o' the morning,"{% endcomment %}
  ];

  const el = document.querySelector('.greeting');
  if (el) el.textContent = greetings[Math.floor(Math.random() * greetings.length)];
});
</script>

