{% assign path = page.inputPath | replace: "./", "" %}
<details class="dropdown">
  <summary><span class="date">Published: {{ page.date | formatDate }}</span></summary>
  <div class="dropdown-content">
    <span class="date">Last updated: {{ lastModified[path] | lastModified }}</span>
  </div>
</details>

