<footer>
	<div class="container">
    <p>
    Sean McAuliffe © {{ "now" | date: "%Y" }} {{ site.siteURL }}
    </p>
    <p class="footer-email">
      <img src="/static/images/footer-mail.svg" alt="email icon" class="email-icon" />
      <span><a class="mailto" href="mailto:sean@smca.dev">sean@smca.dev</a></span>
    </p>
    <p class="footer-email">
      Built with
      <a href="https://www.11ty.dev/">11ty</a>,
      and hosted on
      <a href="https://m.do.co/c/4c715dbcd020">Digital Ocean</a>.
      Source can be viewed on
      <a href="https://github.com/snmca/smca.dev">Github</a>.
    </p>
		<blockquote>
			<p>I don't know half of you half as well as I should like; and I like
			less than half of you half as well as you deserve.</p>
		</blockquote>
	</div>
</footer>
