<a class="preview" href="{{ post.url }}">
  <div class="preview-container">
    <p class="preview-title">{{ post.data.title }}</p>
    <hr class="preview-separator"/>
    <span class="preview-date">
      {{ post.date | formatDate }}
    </span>
  </div>
</a>
