<div class="contact-info">
  <h1>Sean McAuliffe</h1>
  <h2>Software Developer</h2>
  <p>Vancouver, B.C.</p>
  <p>
    E-mail:
    <a href="mailto:sean@smca.dev">sean@smca.dev</a>
  </p>
  <p>
    LinkedIn:
    <a href="https://www.linkedin.com/in/seantristanmcauliffe/">linkedin.com/in/seantristanmcauliffe/</a>
  </p>
  <p>
    GitHub:
    <a href="https://github.com/snmca" target="_blank" rel="noopener noreferrer">
      github.com/snmca
    </a>
  </p>
</div>
