h1:hover::before, h1:focus-within::before,
h2:hover::before, h2:focus-within::before,
h3:hover::before, h3:focus-within::before,
h4:hover::before, h4:focus-within::before,
h5:hover::before, h5:focus-within::before,
h6:hover::before, h6:focus-within::before {
  color: var(--before);
  text-decoration: underline;
}


